/*Custom properties*/
:root {
  --white: #ffffff;
  --black: #212121;
  --primary: #ffbf00;
  --secondary: #597e8d;
  --mainFont: 3.8rem;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  font-family: comfortaa, sans-serif;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: var(--mainFont);
  color: var(--primary);
  font-weight: 400;
}

h1 span {
  font-size: 2rem;
}

h2 {
  font-size: 2.8rem;
  color:var(--black);
}

h3 {
  font-size: 1.8rem;
}

h1,h2,h3{
  text-align: center;
}

.nav-bg {
  background-color: var(--secondary);
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.main-nav {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .main-nav {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.main-nav a {
  color: white;
  text-decoration: none;
  padding: 1rem;
  display: block;
  text-align: center;
}

.main-nav a:hover {
  color: var(--secondary);
  background-color: var(--primary);
}

.hero {
  background-image: url("../assets/section-bg1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  height: 50vh;
}

.hero-container {
  position: absolute;
  background-color: rgb(0 0 0 / 60%);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-container h2,
.contenido-hero p {
  color: var(--white);
}
